.shop-cart{
    display: flex;
    flex-direction: column;
}
.shop-cart__container{
    width: 100%;
}
.buy-button:hover{
    background-color: black;
}
.paypal-container{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.paypal-button__container{
    width: 350px;
}