.buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.save-button{
    background-color: var(--orange);
    margin-right: 100px;
}
.cancel-button{
    background-color: red;
    margin-left: 100px;
}
.save-button:hover, .cancel-button:hover{
    background-color: black;
}
#information-form input[type=text]:focus{
  margin-top: 10px;
  border-bottom: 1px solid orange;
  box-shadow: 0 1px 0 0 orange;
}
#information-form label{
  font-size: 1.6rem;
}
