.page-footer{
    background-color: rgb(43, 43, 42);
}
.page-footer h4{
    font-weight: 500;
    color: orange;
    letter-spacing: 2px;
    font-size: 1.9rem;
}
.footer-copyright{ 
    padding: 10px;
}
.footer-copyright p{
    width: 100%;
    text-align: center;
    font-size: 1.4rem;
    letter-spacing: 1px;
}
.footer-info{
    font-size: 1.6rem;
    font-weight: 300;
    color: white;
}
.footer-list{
    width: auto;
}
.footer-list a{
    font-size: 1.6rem;
    letter-spacing: 1px;
    font-weight: 300;
    color: white;
    width: fit-content;
}
.footer-list li{
    margin-top: 10px;
    width: fit-content;
}
.footer-list a:hover{
    color: orange;
}
.footer-list span{
    width: 30px;
    height: 30px;
    display: inline-block;
    background-size: 100%;
    margin-left: 5px;
    margin-left: 5px;
}
.facebook{
    background-image: url('/src/images/facebook.png');
}
.instagram{
    background-image: url('/src/images/instagram.png');
}
.github{
    background-image: url('/src/images/github.png');
}