.publicidad{
    float: left;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 100%;
    display: flex;
    text-align: center;
}
.publicidad figcaption{
    font-weight: bold;
    font-size: 1.2rem;
    color: black;
}
.publicidad img{
    width: 250px;
    min-width: 200px;
    max-width: 450px;
}
.publicidad a{
    margin-top: 20px;
    margin: 0 10px;
}